<ion-header style="background:#000;">
    <ion-navbar>
        <ion-avatar ion-button menuToggle style="width: 100%;height: 80px; "><img class="icon logo " src="/assets/imgs/white-angel.png "></ion-avatar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <!-- <button ion-item *ngFor="let item of items " (click)="itemTapped($event, item) ">
    </button> -->

        <ion-card style="background:#000;margin: 10px 40px 0px 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);border-bottom: solid 1px #555; " ion-item *ngFor="let item of items ">
            <ion-item text-wrap>
                <ion-avatar item-start>
                    <img style="padding: 6px;border: solid 0.5px #555 " src="{{item.profile}} ">
                </ion-avatar>
                <h2 style="color: #fff; ">{{item.name}}</h2>
                <p style="color: #fff; ">{{item.text}}</p>
                <ion-note>
                    <small style="color:#c5c5c5">{{item.date}}</small>
                </ion-note>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>